.footer-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    background: #1C3041;
}

.links-container {
    text-align: center;
    padding: 30px;
}

p {
    font-size: large;
    color: darkgrey;
    margin-top: 0;
    margin-bottom: 10px;
}

a.link {
    margin: 5px;
}

a.link :hover {
    color: darkslategrey;
    transform: translateY(-2px);
}

a.instagram {
    color: whitesmoke;
}

a.facebook {
    color: whitesmoke;
}