.Nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1C3041;
    height: fit-content;
    width: 100%;
}

.logo {
    margin: 30px;
    width: 350px;
    border: black;
    border-style: double;
    background: lightblue;
}

.nav-container {
    float: right;
    font-size: auto;
    margin-top: 200px;
}

.nav-button {
    color: black;
}

.nav-links :hover{
    color: darkslategrey;
}

.nav-link {
    font-size: large;
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}


@media screen and (max-width: 757px) {
    .nav-container {
        margin-top: auto;
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 415px) {
    .nav-container {
        max-width: fit-content;
        margin: 10px;
    }

    .logo {
        width: 185px;
    }
}

@media screen and (max-width: 360px) {
    .nav-link {
        font-size: medium;
    }
    
}