.Nav {
    background-color: #1C3041;
    height: 300px;
}

.logo {
    margin: 30px;
    width: 350px;
    border: black;
    border-style: double;
}

.nav-container {
    float: right;
    font-size: auto;
    margin-top: 200px;
    margin-right: 100px;
}

.nav-link {
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}

@media screen and (max-width: 415px) {
    .nav-container {
        max-width: fit-content;
        margin: 10px;
    }

    .logo {
        width: 185px;
    }
}